# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Test pages
public/test-*.php

# Logs
*.log

# Temporary files
*.tmp
*.swp
*~

# QR temp SVGs written by PDFGenerator
assets/image/qr_*.svg

# Composer
vendor/
composer.lock

# Sessions
storage/sessions/
